/* ------------------------ COMMON SETTINGS ------------------------ */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 100%;
}

section {
    overflow: hidden;
}

h1 {
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 44px;
    margin: 0;
}

.clearfix {
    overflow: auto;
    clear: both;
}

input::-webkit-input-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* ------------------------ SECTION MAIN ------------------------ */

.section-main {
    background-image: url("../img/199051.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;

    color: #FFFFFF;
}

.section-main .container {
    min-height: 100%;
    position: relative;
}

.section-main .logo, .phone-number {
    width: 195px;
    position: absolute;
}

.section-main .logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    min-width: 206px;
    min-height: 60px;

    top: -5px;
    left: 20px;
}

.section-main .phone-number {
    right: 0;
}

.section-main .phone-number p {
    margin: 0;
    text-align: justify;
    text-align-last: justify;
}

.section-main .phone-number .ph-number {
    font-weight: 700;
    font-size: 22px;
}

.section-main .phone-number .ph-label {
    font-weight: 400;
    font-size: 14px;
}

.section-main h1 {
    width: 550px;
    padding: 0 15px;

    position: absolute;
    left: 0;
    top: 150px;
}

.section-main h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 0 15px;

    width: 440px;

    position: absolute;
    left: 0;
    top: 280px;
}

.section-main .row {
    position: absolute;
    width: 100%;

    top: 450px;
}

.section-main .row .col-md-3 {
    padding-left: 0;
}

.section-main .row .col-md-9 {
    padding-right: 0;
}

.section-main .row p {
    margin: 0;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
}

.section-main .row .button {
    margin-left: 15px;
    width: 290px;
}

/* buttons */

.button {
    height: 70px;
    background-color: #F8CE4C;
    border-radius: 4px;

    padding: 0 10px;

    box-shadow: 0 3px 0 0 #C7841F;

    transition: background-color ease-in-out 0.3s;

    color: #282827;
}

.button p {
    line-height: 70px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
}

.button:hover {
    cursor: pointer;
    background-color: #F0D06F;
}

/* ----- */

.section-main .row .block {
    width: auto;
    background-color: #282827;

    float: right;

    padding: 0 10px;
    margin-left: 2px;
}

.section-main .row .block.bl-left {
    border-radius: 4px 0px 0px 4px;
}

.section-main .row .block.bl-right {
    border-radius: 0 4px 4px 0;
}

.section-main .row .block p {
    font-weight: 400;
}

/* ------------------------ SECTION-1 ------------------------ */

.section-1 {
    background-color: #F4F4F4;
    position: relative;
}

.section-1 .container {
    min-height: 850px;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url("../img/image-82.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

.section-1 h1 {
    width: 640px;
    margin: 0;
    margin-bottom: 40px;
}

.section-1 h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
}

.section-1 table td {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    width: 235px;
    height: 70px;
}

.section-1 table td.querry {
    position: relative;
    width: 290px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.section-1 table td.querry img.img-border {
    position: absolute;
    top: -7px;
}

.section-1 table td.querry img.img-search-icon {
    position: absolute;
    right: 25px;
    top: 20px;
}


.section-1 table td.querry p {
    margin-left: 30px;
}

/* ------------------------ SECTION-CALC ------------------------ */

.section-calc {
    height: 100%;
    background-color: #FAFAFB;
}

.section-calc .container {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.section-calc h3 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 22px;
}
.section-calc .options-cafe {
    margin-top: 90px;
}

.section-calc .options-cafe h3 {
    padding-top: 0;
    float: left;
    width: 20%;
}

.section-calc .option-radio-wrap {
    width: 80%;
    float: right;
}

/* ------ radio ------ */

.section-calc .option-radio {
    border-radius: 4px;
    width: 190px;
    float: right;
    margin-left: 20px;
    width: 40%;
    text-align: center;

    margin-bottom: 20px;

    background-color: #FFFFFF;
}

.section-calc .option-radio label {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0;
    line-height: 70px;
    height: 100%;
    cursor: pointer;
}

.section-calc .option-radio label p {
    display: inline-block;
    line-height: 70px;
    margin: 0;
    position: relative;
    padding-left: 30px;
}

.section-calc .option-radio label p span {
    transition: all ease-in-out 0.1s;
}


.option-radio input[type=radio] {
	display: none;
}

.option-radio label input + p span {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
    left: 0;
    bottom: 25px;
	background: url("../img/radio-border-1.svg") 0 0 no-repeat;
}
 
/* Checked */
.option-radio input:checked + p span {
	background: url("../img/radio-checked.svg") 0 0 no-repeat;
}
 
/* Hover */
.option-radio label:hover p span {
	filter: brightness(105%);
}

.option-radio input:not(:checked) + label:hover p span {
	background: url("../img/radio-border-checked.svg") 0 0 no-repeat;
}

.section-calc .option-line {
    background-color: #FAFAFB;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

/* ------ line-options ------ */

.section-calc .option-radio, .option-line {
    height: 70px;
    
    border: 1px solid #E7E8EA;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 14px;

    margin-bottom: 22px;
}

.section-calc .option-line .title {
    width: calc(100% - 170px);
    margin: 0;
    float: left;
    height: 70px;
}

.section-calc .option-line .title p {
    margin: 0;
    line-height: 70px;
    padding-left: 15px;
}

.section-calc .option-line .input-wrap {
    float: left;
    width: 170px;
    margin: 0;
    height: 100%;
    background-color: transparent;

    box-sizing: border-box;
    border: none;
    border-left: 1px solid #E7E8EA;
}

.section-calc .option-line .input-wrap input {
    display: none;
}

.section-calc .option-line .input-wrap input, span.input-span {
    display: inline-block;
    box-sizing: border-box;
    line-height: 70px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.section-calc .option-line .input-wrap input:not(:disabled) {
    background-color: #FFFFFF;
}

.section-calc .option-line {
    position: relative;
}

/* ------ range ------ */

/* The slider itself */
input[type="range"] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2px; /* Specified height */
    background: #E7E8EA; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    left: 0;
}

/* Mouse-over effects */
input[type="range"]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border: 2px solid #F8CE4C;
    border-radius: 20px;
    background: #FFFFFF; /* background */
    cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border: 2px solid #F8CE4C;
    border-radius: 20px;
    background: #FFFFFF; /* background */
    cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-progress {
    background-color: #F8CE4C; 
}
input[type="range"]::-moz-range-track {  
    background-color: #E7E8EA;
}
input[type="range"]::-ms-fill-lower {
    background-color: #F8CE4C; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #E7E8EA;
}
/* ------------------------ calc-result-block ------------------------ */

.section-calc .calc-result-block {
    background-color: #FFFFFF;
    border: 2px solid #F8CE4C;
    border-radius: 4px;
    text-align: center;
    margin-top: 70px;
}

.section-calc .calc-result-block .calc-result-block-wrap {
    width: 90%;
    margin: 0 auto;
}

.section-calc .calc-result-block h5 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-calc .calc-result-block table {
    text-align: left;
    border: 1px solid #E7E8EA;
    width: 100%;
}

.section-calc .calc-result-block table td {
    border: 1px solid #E7E8EA;
    border-collapse: collapse;

    height: 40px;

    width: 50%;
}

.section-calc .calc-result-block table td p {
    margin: 0;
    height: 100%;
    line-height: 40px;
    padding: 0 20px;
}

.section-calc .calc-result-block p.net-profit {
    font-size: 20px;
    font-weight: 600;

    margin-top: 30px;
}

/* ------------------------ get-business-plan ------------------------ */

.get-business-plan {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E7E8EA;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.get-business-plan h4 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px;
}

.get-business-plan .inputs-line {
    height: 70px;
    width: 80%;
    margin: 0 auto;
}

.get-business-plan input {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    width: 20%;
    margin-right: 2%;
    height: 100%;

    border: 1px solid #E7E8EA;
    border-radius: 0 4px 0 0;

    background-color: #FAFAFB;
    color: #000000;

    padding: 0 20px;
}

.get-business-plan-block p span {
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.get-business-plan-block p span:hover {
    text-decoration: underline;
}

.get-business-plan .button {
    width: 290px;
    float: left;
}

.get-business-plan .button p {
    margin: 0;
}

.section-calc .container img.vector-line {
    position: absolute;
    right: -50px;
    bottom: -30%;
}

/* ------------------------ SECTION-HISTORY ------------------------ */

.section-history {
    background-color: #FFFFFF;
}

/* .section-history .container {
    padding: 0;
} */

.section-history h1 {
    margin-top: 100px;
    margin-bottom: 60px;
    width: 60%;
}

.section-history p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #282827;
    margin-top: 0;
}

.section-history .img-wrap {
    text-align: right;
}

.section-history .img-wrap img {
    width: 85%;
    position: relative;
}

.section-history .img-wrap p {
    display: inline-block;
    color: #000000;
    font-size: 14px;
    text-align: left;
    width: 120px;
    margin: 0;
    position: absolute;
    left: 150px;
}

.section-history .img-wrap p.founder-name {
    font-weight: 600;
    top: 120px;
}

.section-history .img-wrap p.founder-desc {
    font-weight: normal;
    line-height: 16px;

    top: 160px;
}

.section-history table {
    width: 100%;
}

.section-history table td {
    background-color: #FAFAFB;
    border: 2px solid #FFFFFF;
    border-collapse: collapse;
    width: 33.3%;
    padding: 0;

    text-align: center;
    padding-bottom: 40px;
}

.section-history table td.button-td {
    background-color: transparent;
}

.section-history table td.button-td .button {
    width: 80%;
    margin: 0 auto;
}

.section-history table td.button-td .button p {
    line-height: 70px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #282827;
}

.section-history table td .num-p-wrap {
    height: 65px;
    margin-top: 60px;
    margin-bottom: 40px;

    min-width: 110px;
}

.section-history table td p.num-p {
    display: inline-block;
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 65px;
    color: #282827;
    padding: 0 20px;
    height: 100%;

    background-color: #F8CE4C;
}

.section-history table td .text-p-wrap {
    height: 45px;
    width: 80%;
    margin: 0 auto;
}


/* ------------------------ SECTION-CAROUSEL ------------------------ */

.section-carousel {
    overflow: visible;
    height: 400px;
}

.section-carousel h1 {
    text-align: center;
    width: 790px;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 60px;
}

/* ------------------------ SECTION-INDICATORS ------------------------ */

.section-indicators {
    background-color: #252525;
    padding-top: 300px;

    color: #FFFFFF;
}

.section-indicators .container {
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;

    position: relative;
}

.section-indicators .vegetables-img {
    position: absolute;

    bottom: 420px;
    right: -220px;
}

.section-indicators h1 {
    width: 60%;
    margin-bottom: 85px;
}

.section-indicators table td.td-first {
    width: 70%;
}

.section-indicators table td.td-second {
    width: 30%;
}

.section-indicators table td p {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 50%;
    margin-left: 10px;
}

.section-indicators table td img[src="img/stroke.svg"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
}

.section-indicators table .button p {
    line-height: 70px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #282827;
    width: 100%;
}

.section-indicators table .button {
    margin-top: 80px;
}

.section-indicators table {
    width: 100%;
    margin-bottom: 160px;
}

.section-indicators .pizza-img {
    position: absolute;

    left: -300px;
    bottom: -400px;
}

/* ------------------------ get-business-plan ------------------------ */

.get-business-plan-block {
    color: #000000;
    border: #E7E8EA;
    background-color: #FFFFFF;
    border-radius: 4px;

    padding: 60px 45px;
    margin: 0 auto;

    width: 90%;

    margin-bottom: 100px;
}

.get-business-plan-block h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    margin-top: 0;
}

.get-business-plan-block input {
    width: 100%;
    height: 70px;

    margin-bottom: 20px;
    padding-left: 20px;

    background-color: #FAFAFB;
    border: 1px solid #E7E8EA;

    border-radius: 0px 4px 0px 0px;
}

.get-business-plan-block .conf-p {
    margin-top: 30px;
    font-size: 11px;
    line-height: 13px;

    margin-bottom: 0;
}

/* ------------------------ SECTION-FORMAT ------------------------ */

.section-format {
    background-color: #FAFAFB;
}

.section-format h1 {
    margin-bottom: 0;
}

.section-format .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-format .row {
    padding: 0 15px;
}

.section-format .format-block {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(104, 104, 104, 0.1);
    border-radius: 8px;
    padding: 0;

    height: 650px;

    margin-top: 60px;
}


.section-format .format-block h3, h4 {
    margin: 0;
}

.section-format .format-block h3 { 
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    padding-left: 80px;

    color: #FFFFFF;

    position: absolute;
    bottom: 30px;

    z-index: 3;
}

.section-format .format-block .img-desc, .key-indicators {
    float: left;
}

.section-format .format-block .img-desc {
    width: 55%;
}

.section-format .format-block .image {
    border-radius: 8px 0px 0px 0px;
    height: 400px;

    position: relative;
}

.section-format .format-block .image img {
    width: 100%;
    
    position: absolute;
    height: 400px;
}

.section-format .format-block .image .cafe-img {
    z-index: 0;
}

.section-format .format-block .image .gradient-img {
    z-index: 1;
}

.section-format .format-block .description {
    padding: 60px 80px;
}

.section-format .format-block .description p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;

    margin-top: 0;
}

.section-format .format-block .key-indicators {
    background-color: #252525;
    color: #FFFFFF;

    padding: 70px 75px;
    border-radius: 0px 8px 8px 0px;

    height: 100%;
    width: 45%;
}

.section-format .format-block .key-indicators h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.section-format .format-block .key-indicators table {
    width: 100%;
}

.section-format .format-block .key-indicators table td {
    font-size: 16px;
    line-height: 20px;
}

.section-format .format-block .key-indicators table td.second-column {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.section-format .format-block .key-indicators .button {
    margin-top: 50px;
}

/* ------------------------ SECTION-OPENING ------------------------ */

.section-opening {
    color: #FFFFFF;
    background-image: url("../img/pizza-pieces.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-opening .container {
    padding-top: 110px;
    padding-bottom: 150px;
}

.section-opening h1 {
    margin-bottom: 10px;
}

.section-opening table {
    border-collapse: collapse;
    margin-left: 20px;
}

.section-opening table td {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-collapse: collapse;
}

.section-opening .button {
    margin-top: 20px;
    width: 60%;
}

.section-opening table p {
    font-size: 18px;
    line-height: 22px;
}

.section-opening table td.td-graph {
    position: relative;
}

.section-opening table td.td-graph img[src="img/vector-line.svg"] {
    position: absolute;
    height: 114px;

    left: -40px;
    top: 50%;
}

/* ------------------------ SECTION-SUPPORT ------------------------ */

.section-support {
    background-color: #FAFAFB;
}

.section-support .container {
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-support h1 {
    margin-bottom: 60px;
}

.section-support .step-block {
    position: relative;
}

.section-support .step-block img {
    height: 300px;
}

.section-support .step-block h2 {
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    margin: 0;

    color: #FFFFFF;

    position: absolute;
    top: 230px;
    padding-left: 30px;
}

.section-support h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    margin-top: 40px;
    margin-bottom: 20px;
}

.section-support p {
    margin-top: 0;
    margin-bottom: 70px;
}
.section-support .step-block-last {
    height: 300px;
}

.section-support .step-block-last h3 {
    margin-top: 0;
}

.section-support .step-block-last p {
    margin-bottom: 0;
}

.section-support p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.section-support .button {
    width: 90%;
    position: absolute;
    bottom: 0;
}

.section-support .button p {
    font-weight: 600;
    font-size: 18px;
    line-height: 70px;
}

/* ------------------------ SECTION-MOBILE-APP ------------------------ */

.section-mobile-app {
    background-color: #F5F6FA;
    overflow: hidden;
}

.section-mobile-app .container {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

.section-mobile-app h3 {
    margin-top: 60px;
    margin-bottom: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.section-mobile-app p {
    margin-top: 20px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 26px;
}

.section-mobile-app img[src="img/mob-app-hand.png"] {
    position: absolute;
    bottom: 0;
    right: -350px;
    z-index: 2;
}

.section-mobile-app img[src="img/mob-app-veg.png"] {
    position: absolute;
    top: -80px;
    right: -400px;
    z-index: 1;
}

.section-mobile-app .download-img-line img {
    float: left;
    margin-right: 10px;
}

.section-mobile-app .download-img-line {
    position: absolute;
    bottom: 120px;
    left: 60%;
}

.download-img {
    border-radius: 6px;
}

/* ------------------------ SECTION-PLAN-2 ------------------------ */

.section-plan-2 {
    background-image: url("../img/pizza-big.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-plan-2 .container {
    padding-top: 160px;
    position: relative;
}

.section-plan-2 .rotated-line {
    height: 105px;
    background-color: #F8CE4C;
    text-align: center;
}

.section-plan-2 .rotated-line{
    display: inline-block;
    margin: 0;
    padding: 0 30px;
    line-height: 104px;
    font-family: Jost;
    font-style: normal;
    font-weight: 600;

    position: absolute;
}

.section-plan-2 .rotated-line.rl-1 {
    font-size: 54px;
    transform: rotate(-8.71deg);
    top: 250px;
}

.section-plan-2 .rotated-line.rl-2 {
    font-size: 42px;
    top: 380px;
}

.section-plan-2 .rotated-line.rl-3 {
    font-size: 54px;
    transform: rotate(3.79deg);
    top: 510px;
    left: 60px;
}

/* ------------------------ SECTION-FOOTER ------------------------ */

.section-footer {
    background-color: #1C1C1C;
    color: #FFFFFF;
    font-size: 14px;
}

.section-footer .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-footer .f-bl {
    float: left;
}

.section-footer .f-bl.copy-block {
    margin-right: 3%;
}

.section-footer .f-bl.apps-block div {
    float: left;
    margin-right: 10px;
    padding: 6px 0;
}

.section-footer .f-bl.phone-num-block {
    float: right;
    width: 200px;
    text-align: center;
    line-height: 20px;
}

.section-footer p, a {
    display: inline-block;
    margin: 2px 2px;
    color: #FFFFFF;
}

.section-footer .f-bl.apps-block p {
    margin: 0;
    margin-left: 10px;
}

.section-footer a {
    text-decoration: underline;
}

.section-footer a:hover {
    color: #606060;
}

.section-footer .p-copyright {
    float: left;
    color: #F8CE4C;
}

.section-footer a {
    float: left;
    transition: all ease-in-out 0.2s;
}

.section-footer p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
}

.section-footer p.phone-num {
    font-weight: bold;
    font-size: 22px;
}

/* ================= @media ====================== */

@media only screen and (max-width: 1200px) {
    .section-main .button p, .section-main .block {
        margin-top: 20px;
    }
    .section-main .button p, .section-main .block p {
        font-size: 14px;
    }

    .section-calc .options-cafe label {
        font-size: 12px;
    }

    .section-calc .option-line .title {
        font-size: 12px;
        width: calc(100% - 130px);
    }

    .section-calc .option-line .input-wrap {
        width: 130px;
    }

    .section-calc .option-line .input-wrap .input-span, input {
        font-size: 16px;
    }

    .section-calc .h-costs {
        margin-top: 90px;
    }

    .get-business-plan .inputs-line {
        height: 160px;
    }

    .get-business-plan .inputs-line input {
        height: 70px;
        width: 31%;
    }

    .get-business-plan .inputs-line .button {
        width: 97%;
        margin-top: 20px;
    }

}